.App {
  font-family: sans-serif;
  text-align: center;
}

ul,
li {
  margin: 5px;
  padding: 30px;
  list-style: none;
  border: 1px solid lightgrey;
  
}

.react-beatiful-dnd-copy ~ li {
  transform: none !important;
}

.dragging {
  background: yellow;
  text-align: center;
  font-family: sans-serif;
}

.react-beatiful-dnd-copy {
  background: lightblue;
}

.react-beatiful-dnd-copy ~ [data-rbd-placeholder-context-id] {
  display: none !important;
}

.clips {
  padding: 10px;
  border: transparent;
}

.timeline {
  padding: 50px;
  border: 1px solid lightgrey;
  resize: horizontal;
  overflow: auto;
}

.timeline li {
  border: 1px solid lightgrey;
  resize: horizontal;
  overflow: auto;
} 
.container-timeline{
  padding: 50px;
  border: 1px solid lightgrey;
}